body, html {
    height: 100%;
    background-color: $base-bg-color;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

a {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.card {
    background-color: #FFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid $border-gray;
}

.user-container {
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid $border-gray;
}

.user-image-container {
    margin-right: 0.7rem;
}

.user-image {
    height: 40px;
}

.user-info__title {
    display: inline-block;
    margin-right: 0.5rem;
}
