body, html {
    height: 100%;
    background-color: $base-bg-color;
    color: $base-color-darkgray;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

a {
    text-decoration: none;
    color: $base-color-darkgray;
}

a:focus {
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a.custom-link {
    width: 100%;
    //border-top: 1px solid $border-gray;
    //border-left: 1px solid $border-gray;
    //border-right: 1px solid $border-gray;
    display: inline-block;
    padding: 0.5rem;
    transition: 0.4s ease;
}

a.custom-link:hover {
    //background-color: $base-bg-color;
    background-color: #E4E4E4;
    //color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.user-container {
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid $border-gray;
}

.user-image-container {
    margin-right: 0.7rem;
}

.user-image {
    height: 40px;
}

.user-info__title {
    display: inline-block;
    margin-right: 0.5rem;
}

.board {
    width: 100%;
    padding: 1.5rem;
    //border-top-left-radius: 15px;
    //border-top-right-radius: 15px;
    border-bottom: 1px solid $border-gray;
}

.custom-nav {
    //padding: 0.5rem 0;
    //border-top: 1px solid $border-gray;
    //border-bottom: 1px solid $border-gray;
    //border: 1px solid $border-gray;
}
